<component name="libraryTable">
  <library name="spring">
    <CLASSES>
      <root url="file://$PROJECT_DIR$/../../spring-framework-5.0.1.RELEASE-dist/spring-framework-5.0.1.RELEASE/libs" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="file://$PROJECT_DIR$/../../spring-framework-5.0.1.RELEASE-dist/spring-framework-5.0.1.RELEASE/libs" />
    </SOURCES>
    <jarDirectory url="file://$PROJECT_DIR$/../../spring-framework-5.0.1.RELEASE-dist/spring-framework-5.0.1.RELEASE/libs" recursive="false" />
    <jarDirectory url="file://$PROJECT_DIR$/../../spring-framework-5.0.1.RELEASE-dist/spring-framework-5.0.1.RELEASE/libs" recursive="false" type="SOURCES" />
  </library>
</component>